.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  max-width: 1024px;
  margin: 0 auto;
}

.header-logo {
  width: 5rem;
}

.header-icons a:not(:last-child) {
  margin-right: 2rem;
}

.header-icons a {
  cursor: pointer;
  line-height: 1.2;
  border-bottom: 2px solid transparent;
  font-size: 1.8rem;
  color: rgba(0, 11, 108, 0.8);
}

.header-icons a:hover {
  border-bottom: 2px solid rgba(0, 11, 108, 0.8);
}

@media screen and (max-width: 800px) {
  .header {
    padding: 2rem;
  }
}
